<div id="modal">
    <div class="content">
        <div class="header">
            <h1>Pontos de Coleta</h1>
            <a href="#">Fechar</a> <!-- with # it will close modal, without it will reload the page -->
        </div>
        <form action="/search"> <!-- action show the next page when the action execute -->
            <label for="search">Cidade</label>
            <div class="search field">
                <input type="text" name="search" placeholder="Pesquise por cidade">
                <button>
                    <img src="/assets/search.svg" alt="Buscar">
                </button>
            </div>
        </form>

    </div>
</div>