#page-create-point {
    width: 90%;
    max-width: 1100px;

    margin: 0 auto; /* top and bottom 0 margin, left and right auto */
}

#page-create-point header {
    margin-top: 48px;
    display: flex;
    justify-content: space-between; /* first element in left side and second in right side */
    align-items: center;
}

#page-create-point header a {
    color: var(--title-color);
    font-weight: bold;
    display: flex; /* align span and text */
    align-items: center;
}

#page-create-point header a span {
    margin-right: 16px;
    background-image: url('../assets/arrow-left.svg');
    display: flex; /* use display to set width and height */
    width: 20px;
    height: 24px;
}

form {
    background-color: white;
    margin: 80px auto;
    margin-top: 80px;
    padding: 64px;
    border-radius: 8px; /* round border */
    max-width: 730px;
}

form h1 {
    font-size: 36px;
}

form fieldset {
    margin-top: 64px;
    border: 0;
}

form legend {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

form legend h2 {
    font-size: 24px;
}

form legend span {
    font-size: 14px;
    color: var(--title-color);
}

form .field {
    flex: 1; /* element fills the entire space */
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

form .field-group {
    display: flex;
}

form input,
form select {
    background-color: #f0f0f5;
    border: 0;
    padding: 16px 24px;
    font-size: 16px;
    border-radius: 8px;
    /* outline: none;  */ /* remove border on select */
}

form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form label {
    font-size: 14px;
    margin-bottom: 8px;
}

/* form .field-group .field (first field) + .field (second field) */
/* properties will be apply to the second field*/
form .field-group .field + .field {
    margin-left: 24px;
}

form button {
    width: 260px;
    height: 56px;
    background-color: var(--primary-color);
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    margin-top: 40px;
    transition: background-color 400ms;
}

form button:hover {
    background-color: #2fb86e;
}

.items-grid {
    display: grid; /* flex is usually used for one-dimensional, col or line. We will use grid for two-dimensional. */
    grid-template-columns: 1fr 1fr 1fr; /* so you know you should use 3 columns, and you could have put 200px 200px 150px for example, but the fr divides into equal fractions*/
    gap: 16px;
}

.items-grid li {
    background-color: #f5f5f5;
    list-style: none;
    border: 2px solid #f5f5f5;
    border-radius: 8px;
    height: 180px;
    padding: 32px 24px 16px;
    display: flex;
    flex-direction: column; /* changes the direction of the space between flow for columns*/
    align-items: center;
    justify-content: space-between;
    text-align: center;
    cursor: pointer; /* makes the arrow turn into a hand when it is on top */
}

.items-grid li span {
    margin-top: 12px;
    flex: 1; /* fill the size*/
    display: flex;
    align-items: center;
    color: var(--title-color);
}

.items-grid li.selected { /* find the li with a selected class */
    background: #e1faec;
    border: 2px solid #34cb79;
}

.items-grid li img,
.items-grid li span {
    pointer-events: none; /* so when clicking on the child elements the result will be the same as clicking on the parent element */
}